body {
  font-family: 'Lato', sans-serif;
  width: 80%;
  /* height: 80%; */
  margin: auto;

}

.top-layer {
  display: inline-block;
  width: 100%;
}

.header {
  float: left;
}

.contact {
  float: right;
  margin-top: 10px;
}

.tools-table {
  display: inline-block;
  width: 80%;
  text-decoration: none;
}

.left-tools {
  float: left;
}

.right-tools {
  float: right;
}

